*{
    margin: 0;
    padding: 0;
}

body{
   margin: 0;
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

/*menu responsivo*/

.menu {
  width: 100%;
  height: 50px;
  background: white;
  margin-top: 20px;
  font-family: 'Arial';
  display: none;
 }

 .menu ul {
  list-style: none;
  position: relative;
 }

 .menu ul li {
  width: 150px;
  background: tomato;
  float: left;
 }

 .menu a {
  background-color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
 }
label[for="bt_menu"]{
    padding: 5px;
    background-image: url(images/bgimg.png);
    color: black;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    position: absolute;
}
#bt_menu{
    display: none;
}


/* corpo*/

.center{text-align: center;}
.clear{clear:both;}


.video-mobile{
    display: none;
    text-align: center;
    margin-bottom: -100px;

}


section.main-bg{
	width: 100%;
	height: 636px;
	background-image: url(images/bgimg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.logo-bg{
	text-align: center;
	position: relative;
	top: 20px;
}

.base-bg{
    
}

.w33{
	float: left;
	width: 33.3%;
}

.faq{
	margin-top: 50px;
}

.video-container {

position: relative;
width:400px;
padding-bottom: 56.25%;
}

.video-container iframe{
    position: absolute;
    width: 450px;
    height: 300px;
    border: none;
}

.whatsapp {
    position: fixed;
    top: 75%;
    left: 5%;
    padding: 10px;
    z-index: 10000000;
    width: 15%;
}
.mmobile{
    display: none;
}

.footer{
    }

.formulario1{
    width: 500px;

    position: relative;
    top: 50%;
    left: 45%;

    margin: -20px 0 -130px -170px; 

    margin-top: 20px;  
}
.acc{padding: 10px; text-align: center; width: 400px; margin-left: 450px;}
h2.accordion{ cursor: pointer; }
div.accordion{ display: none; }


.desconto{
    width: 100px;
   position: absolute;
   margin-left: 200px;
}

@media screen and (max-width: 768px){
    .responsivo{overflow: hidden;}
    .fotop{display: none;}
    .alinhar{display: inline-block;}
    .texts{padding: 50px;}
    .topot{width: 280px;}
    .pqfaq{width: 50%;}
    section.faq{width: 50%}
    .garantia{margin-right: 290px;}
    .footer2{ margin-right: 150px; margin-top: 50px; width: 500px;}
    .contatenos{margin-right: 80px;}
    .respfaq{padding: 5px; width: 400px;}
    .video-container{display: none;}
    .base-bg{margin-left: 130px; text-align: center; padding-top: 20px;}
    .whatsapp{width: 150px;}
    .menu{
        margin-left: -100%;
        transition: all .4s;
        display: block;
    }
    .video-mobile{
        display: block;
    }
    .footer{
        width: 400px;
    }
    .formulario1{
        width: 450px;
    }

    label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu ul li{
        width: 100%;
        float:none;
    }
    .acc{
        margin-left: 30px;
        width: 300px;
    }
    .mimg{width: 150px; margin-right: 120px;}
    .desconto{margin-left: 250px;}
    .depoimentos{width: 440px; margin-right: 500px; padding: -100px;}
    .descubra{width: 600px;}
}

@media screen and (max-width: 500px){
    .responsivo{overflow: hidden;}
    .fotop{display: none;}
    .alinhar{display: inline-block;}
    .texts{padding: 50px;}
    .topot{width: 280px;}
    .pqfaq{width: 50%;}
    section.faq{width: 50%}
    .garantia{margin-right: 290px;}
    .footer2{ margin-left: -100px; margin-top: 50px; width: 500px;}
    .contatenos{margin-right: 80px;}
    .respfaq{padding: 5px; width: 400px;}
    .video-container{display: none;}
    .base-bg{margin-left: 130px; text-align: center; padding-top: 20px;}
    .whatsapp{width: 150px;}
    .menu{
        margin-left: -100%;
        transition: all .4s;
        display: block
    }
    .video-mobile{
        display: block;
    }
    .footer{
        width: 400px;

    }
    .formulario1{
        width: 450px;
    }
    label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu ul li{
        width: 100%;
        float:none;
    }
    .mimg{width: 150px; margin-right: 120px;}
    .desconto{margin-left: 250px;}
    .depoimentos{width: 440px; margin-right: 500px; padding: -100px;}
}





